@font-face { 
    font-family: "GilroyThin";
    src: url("../fonts/GilroyThin/GilroyThin.eot");
    src: url("../fonts/GilroyThin/GilroyThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GilroyThin/GilroyThin.woff") format("woff"),
    url("../fonts/GilroyThin/GilroyThin.ttf") format("truetype");
    font-style: italic;
    font-weight: 100;
}
body{
    overflow-x: hidden;
}
 
 header {
    width: 100%;
  
   color: #FBC70E
   ;
   background-color: #65256F;
 
 
 }
 .purple p{
    align-items: center;
    margin-top: 10px;
}
 .purple{
    font-family: gilroy;

    width: 100%;
display: flex;
justify-content: space-between;

font-size: 13px;
margin: 0 -100px;
}
span{
    margin-left: 30px;
    color: #FBC70E;
}
.purple p:nth-child(2){
    color: #FFFFFF;
}
.purple p:nth-child(1){

    margin-left: 190px;
}


.white{
    width: 100%;
    background-color: white;
    display: flex;
    /* justify-content: space-around; */
    
    align-items: center;
}
.white img{
    width: 60%;
    margin-top: 10px;
    margin-left: 82px;
    flex: 0 1 10%;
    }
.white2{
    display: flex;
    justify-content: space-around;
}
.white2 ul, li{
    /* flex: 0 0 50%; */ 
    /* margin: -400px 2230px ; */
    display: flex;
 justify-content: space-between; 
    list-style: none;
    margin:0 -70px; 
     margin-top: -20px;
    margin-left: 125px;
    font-size: 14px ;
} 
.as{
    color: black;
    text-decoration: none;
}
.knopka{
     flex: 0 1 13%; 
    width: 200px;
    height: 41px;
    margin-top: -42px;
    border-radius: 5px;
    background-color: #65256F;
    color: white;
    font-size: 14px;
    
    /* margin-left: 950px;
    margin-top: -50px; */
}
.nachalo img{
    position: relative;
width: 100%;
height: 700px;
}
.nachalo{
    margin-top: 10px;
    background: url(../pics/Rectangle\ 70.png);
width: 100%;
height: 700px;
}
.nachalo h1{
    position: absolute;
    font-size: 62px;
   top: 260px;
   left: 110px;
    color: white;
    font-family: 'gilroythin';
    font-weight: 200;
}

.huilo{
    width: 100%;
    top: 460px;
    
    left: 80px;
    position: absolute;
    color: white;
    font-family: 'gilroy';
    font-weight: 100;
    font-size: 36px;
}
.nachalo button{
    position: absolute;
    left: 110px;
    top: 600px;
    width: 300px;
    height: 60px;
    background-color: #FBC70E;
}
.icons {
    position: absolute;
    width: 30px;
    color: yellow;
}
.ic:nth-child(1){
    margin-top: -600px;
    margin-left: 1140px;
}
.ic:nth-child(2){
    margin-top: -800px;
    margin-left: 1140px;
}

.ic:nth-child(3){
    margin-top: -1000px;
    margin-left:1140px ;
}

.kil{
    width: 100%;
}
.blah{
    width: 100%;
}
.zagolovok{
    margin-top: 30px;
    font-family: gilroythin;
    text-align: center;
}
.zagolovok:before{
    content: '';
    border: 1px solid #BEBEBE;
    width: 40%;
    position: absolute;
    top: 846px;
    left: 60%;
}
.zagolovok::after{
    content: '';
    border: 1px solid #BEBEBE;
    width: 40%;
    position: absolute;
    top: 846px;
    left: 0%;
}
    
.uslugi img{
    margin-top: 20px;
    margin-left: 2.2%;
    width: 22%;
    background: #FFFFFF;
box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.05);
border-radius: 3px;
    
}

 

.zagolovok2 {
    margin-top: 100px;
    font-family: gilroythin;
    text-align: center;
    font-size: 35px;
}
  .zagolovok2::before{
      content: '';
      border: 1px solid #BEBEBE;
      position: absolute;
      width: 40%;
    left: 60%;    
  }

  .zagolovok2::after{
    content: '';
    border: 1px solid #BEBEBE;
    width: 40%;
    position: absolute;
     left: 0%;
}



 .kak{
    background: url(../pics/Rectangle\ 78.png);
    margin-left: 120px;
    margin-top: 30px;
    width: 300px;
    height: 250px;
}
.kak img{
    margin-left: 0px;
    width: 300px;
    height: 250px;
}
.kak2{
    background: url(../pics/Rectangle\ 79.png);
    margin-left: 474px;
    margin-top: -250px;
    width: 300px;
    height: 250px;
}
.kak2 img{
    margin-left: 0px;
    width: 300px;
    height: 250px;
}

.kak3{
    background: url(../pics/Rectangle\ 80.png);
    margin-left: 834px;
    margin-top: -250px;
    width: 300px;
    height: 250px; 
}
.kak3 img{
    width: 300px;
    height: 250px;
}

.kak4{
    background: url(../pics/Rectangle\ 81.png);
    margin-left: 120px;
    margin-top: 50px;
    width: 300px;
    height: 250px;
}
.kak4 img{
    width: 300px;
    height: 250px;
}

.kak5{
    background: url(../pics/Rectangle\ 78.png);
    margin-left: 474px;
    margin-top: -250px;
    width: 300px;
    height: 250px;
}
.kak5 img{
    width: 300px;
    height: 250px;
}

.kak6{
    background: url(../pics/Rectangle\ 83.png);
    margin-left: 834px;
    margin-top: -250px;
    width: 300px;
    height: 250px;
}
.kak6 img{
    width: 300px;
    height: 250px;
}
.kil{
    width: 100%;
}

.kil button{
    background-color: #65256F;
    color: white;
    width: 348px;
    height: 52px;
    margin-top: 30px;
    margin-left: 458px;
    border-radius: 3px;
}
.pip{
    margin-top: 20px;
    width: 100%;
}
.zagolovok3{
    margin-top: 100px;
    font-family: gilroythin;
    text-align: center;
    font-size: 35px;
}

.zagolovok3:before{
    content: '';
    border: 1px solid #BEBEBE;
    width: 40%;
    position: absolute;
     left: 60%;
}
.zagolovok3::after{
    content: '';
    border: 1px solid #BEBEBE;
    width: 40%;
    position: absolute;
     left: 0%;
}
.pip img{
    width: 300px;
    margin-left: 90px;
    margin-top: 30px;
     
}

.zagolovok4 {
    margin-top: 100px;
    font-family: gilroythin;
    text-align: center;
    font-size: 35px;
}
  .zagolovok4::before{
      content: '';
      border: 1px solid #BEBEBE;
      position: absolute;
      width: 40%;
    left: 60%;

  }
  .zagolovok4::after{
    content: '';
    border: 1px solid #BEBEBE;
    width: 40%;
    position: absolute;
     left: 0%;
}



.row{
    padding: 70px;
}
.row p{
    font-size: 14px;
}
.comanda1{
    margin-top: -80px;
}
.comanda1 button{
    width: 320px;
    height: 50px;
    background-color: #65256F;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 500px;
    margin-top: -30px;
    font-size: 18px;
}

.comanda2 img{
    width: 130px;
    margin: 20px;
    
}

.comanda3 img,h3, p{
    width: 300px;
    margin: 30px;
    margin-top: -20px;
}
.blabla  h2{
    margin-top: 10px;
    font-family: gilroythin;
    text-align: center;
    font-size: 35px;
}
.blabla p{
    width: 100%;
    margin-left: 400px;
    font-size: 14px;
    color: #585858, 100%;
}

.inputs{
    
    display: flex;
    justify-content: space-around;
    width: 720px;
    margin-left: 170px;
    color: #E5E3E3; 
}

.form-control{
    margin: 30px 20px;

 }
 .btnn button{
  height: 34px;
     width: 200px;
     border-radius: 4px;
     
 }
.btnn{
    margin-left: 920px;
    margin-top: -83px;
}
footer {
    margin-top: 50px;
    border: 30px solid #3A3A3A;
}

.comanda5{
    margin:0px 0px;
    background-color: #3A3A3A;
    color: white;
    text-align: left;
}
.comanda5 p{
    font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
}
.comanda5 h3{
    margin-top: -50px;
    font-size: 14px;
}

